services:
  match-service:
    build: ./match-service
    ports:
      - "8081:8080"
      - "5006:5005"
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-match:5432/match_db
      SPRING_DATASOURCE_USERNAME: match_user
      SPRING_DATASOURCE_PASSWORD: match_pass
      SPRING_FLYWAY_ENABLED: true
    depends_on:
      postgres-match:
        condition: service_healthy
      kafka-1:
        condition: service_started
      kafka-2:
        condition: service_started
      kafka-3:
        condition: service_started

  user-service:
    build: ./user-service
    ports:
      - "8082:8080"
      - "5007:5005"
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-user:5432/user_db
      SPRING_DATASOURCE_USERNAME: user_user
      SPRING_DATASOURCE_PASSWORD: user_pass
      SPRING_FLYWAY_ENABLED: true
    depends_on:
      postgres-user:
        condition: service_healthy

  notification-service:
    build: ./notification-service
    ports:
      - "8083:8080"
      - "5008:5005"

  gateway-service:
    build: ./gateway-service
    ports:
      - "8084:8080"
    depends_on:
      - user-service
      - match-service
      - keycloak
      - notification-service

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:24.0.1
    command: [ "start-dev" ]
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - keycloak_pgdata:/var/lib/postgresql/data
    ports:
      - "8181:8080"
    depends_on:
      keycloak-postgres:
        condition: service_healthy

  keycloak-postgres:
    image: postgres:16
    container_name: keycloak-postgres
    volumes:
      - keycloak_pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U keycloak -d keycloak" ]
      interval: 5s
      timeout: 3s
      retries: 10

  postgres-match:
    image: postgres:16
    container_name: postgres-match
    environment:
      POSTGRES_DB: match_db
      POSTGRES_USER: match_user
      POSTGRES_PASSWORD: match_pass
    ports:
      - "5436:5432"
    volumes:
      - pgdata-match:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U match_user -d match_db" ]
      interval: 5s
      timeout: 3s
      retries: 10

  postgres-user:
    image: postgres:16
    container_name: postgres-user
    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: user_user
      POSTGRES_PASSWORD: user_pass
    ports:
      - "5434:5432"
    volumes:
      - pgdata-user:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user_user -d user_db" ]
      interval: 5s
      timeout: 3s
      retries: 10

  kafka-1:
    image: apache/kafka:4.1.1
    ports:
      - "9092:9092"
    environment:
      - NODE_ID=1
      - KAFKA_NODE_ID=1
      - KAFKA_KRAFT_CLUSTER_ID=WZc4ympiRRCpv0s2cYBrCw
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9091,2@kafka-2:9091,3@kafka-3:9091
      - KAFKA_LISTENERS=PLAINTEXT://:9090,CONTROLLER://:9091,EXTERNAL://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka-1:9090,EXTERNAL://${HOSTNAME:-localhost}:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
    volumes:
      - kafka-1-data:/var/lib/kafka/data
    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka-1:9092" ]
      interval: 5s
      retries: 20

  kafka-2:
    image: apache/kafka:4.1.1
    ports:
      - "9094:9094"
    environment:
      - NODE_ID=2
      - KAFKA_NODE_ID=2
      - KAFKA_KRAFT_CLUSTER_ID=WZc4ympiRRCpv0s2cYBrCw
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9091,2@kafka-2:9091,3@kafka-3:9091
      - KAFKA_LISTENERS=PLAINTEXT://:9090,CONTROLLER://:9091,EXTERNAL://:9094
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka-2:9090,EXTERNAL://${HOSTNAME:-localhost}:9094
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
    volumes:
      - kafka-2-data:/var/lib/kafka/data
    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka-2:9094" ]
      interval: 5s
      retries: 20

  kafka-3:
    image: apache/kafka:4.1.1
    ports:
      - "9096:9096"
    environment:
      - NODE_ID=3
      - KAFKA_NODE_ID=3
      - KAFKA_KRAFT_CLUSTER_ID=WZc4ympiRRCpv0s2cYBrCw
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9091,2@kafka-2:9091,3@kafka-3:9091
      - KAFKA_LISTENERS=PLAINTEXT://:9090,CONTROLLER://:9091,EXTERNAL://:9096
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka-3:9090,EXTERNAL://${HOSTNAME:-localhost}:9096
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
    volumes:
      - kafka-3-data:/var/lib/kafka/data
    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka-3:9096" ]
      interval: 5s
      retries: 20

volumes:
  keycloak_pgdata:
  pgdata-match:
  pgdata-user:
  pgdata-notification:
  kafka-1-data:
  kafka-2-data:
  kafka-3-data:
